.popup__input-error {
  display: block;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  margin: 5px 0 13px;
  min-height: 12px;
}

.popup__input-error:last-of-type {
  margin: 5px 0 48px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .popup__input-error:last-of-type {
    margin: 5px 0 28px;
  }
}

