.popup__submit-button {
  width: 358px;
  height: 50px;
  margin-bottom: 37px;
  border-radius: 2px;
  background: #000000;
  color: #FFFFFF;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.popup__submit-button:hover {
  opacity: 0.8;
}

@media (min-width: 320px) and (max-width: 767px) {
  .popup__submit-button {
    max-width: 238px;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 25px;
  }
}
