.header {
  padding-top: 45px;
  margin: 0 auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media (min-width: 1024px) {
  .header {
    max-width: 880px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    max-width: 581px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .header {
    max-width: 320px;
    padding-top: 28px;
  }
}
