.elements {
  margin: 0 auto 0;
  display: grid;
  padding-top: 50px;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-template-rows: repeat(auto-fit, 361px);
  gap: 20px 17px;
  align-content: center;
  justify-content: center;
}

@media (min-width: 1024px) {
  .elements {
    max-width: 880px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .elements {
    max-width: 581px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .elements {
    max-width: 282px;
  }
}
