.elements {
  margin: 0 auto 0;
  display: -ms-grid;
  display: grid;
  padding-top: 50px;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-template-rows: repeat(auto-fit, minmax(361px, 1fr));
  gap: 20px 17px;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (min-width: 1024px) {
  .elements {
    max-width: 880px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .elements {
    max-width: 581px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .elements {
    max-width: 282px;
  }
}
