.profile__edit-button {
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 37px 0 0 0;
  display: flex;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  outline: none;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease-in-out;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media (min-width: 320px) and (max-width: 767px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin: 30.25px 0 0 0;
  }
}
