.footer {
  margin: 0 auto 60px;
  padding-top: 66px;
}

@media (min-width: 1024px) {
  .footer {
    max-width: 880px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer {
    max-width: 581px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer {
    max-width: 282px;
    padding-top: 48px;
    margin: 0 auto 36px;
  }
}
