.profile__job {
  margin: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 360px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .profile__job {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
